In [31]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib.ticker

In [32]:
mdf

                         l   i
init   model k
kmeans 0     100  8.090096  25
       1     100  8.264167  25
       2     100  7.332964  25
       3     100  8.161412  25

In [35]:
for namef in ['arma','bunny','dragon','happy','lucy']:
    print(namef)
    df = pd.read_csv("{}.log".format(namef),names=['k','init','model','l','i'])
    mdf = df.groupby(['init','model','k']).mean()
    sdf = df.groupby(['init','model','k']).std()
    print(mdf["l"][2])#(mdf['l'][3]-mdf['l'][2])/sdf['l'][2]
    print(mdf["l"][3])

arma
-14.565916035377791
-12.222583946560324
bunny
7.5775802971002975
8.151671578393522
dragon
6.898545620847078
7.634206844435148
happy
7.332964028800491
8.161411514631734
lucy
-21.468649999684686
-18.258772031970818

In [4]:
mdf

                         l       i
init   model k
kmeans 0     6    6.457977  25.000
             12   7.014532  25.000
             25   7.477748  25.000
             50   7.822275  24.750
             100  8.121495  23.875
             200  8.098181  22.875
             400  7.251390  17.375
       1     6    6.551823  25.000
             12   7.140916  25.000
             25   7.617638  25.000
             50   7.983571  25.000
             100  8.217907  25.000
             200  8.046881  25.000
             400  7.242091  25.000
       2     6    6.525736  25.000
             12   7.139976  25.000
             25   7.522502  25.000
             50   7.785710  25.000
             100  7.570374  25.000
             200  5.796015  25.000
             400  1.898935  10.375
       3     6    6.491746  25.000
             12   7.008640  25.000
             25   7.449678  25.000
             50   7.813753  24.875
             100  8.146477  24.875
             200  8.410962  25.000
             400  8.624588  24.750
random 0     6    6.377144  25.000
             12   6.928323  25.000
             25   7.374668  25.000
             50   7.695320  25.000
             100  7.912172  25.000
             200  7.908509  24.125
             400  7.513237  24.500
       1     6    6.147032  25.000
             12   6.262965  25.000
             25   6.353038  25.000
             50   6.418712  25.000
             100  6.465496  25.000
             200  6.586637  25.000
             400  6.594746  25.000
       2     6    6.135980  25.000
             12   6.268836  25.000
             25   6.355051  25.000
             50   6.412342  25.000
             100  6.516093  25.000
             200  6.560785  25.000
             400  6.652596  25.000
       3     6    6.431098  25.000
             12   6.885635  25.000
             25   7.412179  25.000
             50   7.757967  25.000
             100  8.035405  25.000
             200  8.272538  25.000
             400  8.475812  25.000